@font-face {
  font-family: "SF Pro Text";
  src: url("../../src/fonts/SFPRODISPLAYREGULAR.OTF") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 4. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 5. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 6. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 7. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  opacity: 1;
  box-shadow: 0px 0px 0px 0.33px #BDC5CD;
  height: 44px;
}
.footer .footer__icon {
  width: 22.5px;
  height: 20px;
}

@media (max-width: 600px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
.header {
  padding-top: 10px;
  padding-inline: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header img.logo {
  width: 30px;
}
.header .logo__container {
  position: relative;
}
.header .logo__container img.notification-round {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  right: 0;
}

.logo--round {
  border-radius: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Text", sans-serif;
  background-color: #FFFFFF;
  overflow-x: hidden;
  font-style: normal;
  color: #141619;
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-content {
  flex-grow: 1;
  position: relative;
}

.button__add_text {
  position: absolute;
  bottom: 56px;
  right: 11.58px;
}

.tweet {
  padding-top: 13px;
  padding-left: 20px;
  box-shadow: 0px 0px 0px 0.33px #BDC5CD;
}
.tweet__reacted {
  display: flex;
  flex-direction: row;
  padding-left: 42px;
}
.tweet__reacted .tweet__react__text {
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #687684;
  padding-left: 9px;
}
.tweet .tweet__content {
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  padding-bottom: 10.53px;
}
.tweet .tweet__content .tweet__profile-container {
  position: relative;
}
.tweet .tweet__content .tweet__profile-container .vertical-bar {
  position: absolute;
  top: 58px;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #CED5DC;
}
.tweet .tweet__content .tweet__profile {
  width: 55px;
  height: 55px;
  border-radius: 55px;
  position: relative;
}
.tweet .tweet__content .tweet__post__content {
  padding-left: 9px;
  width: 100%;
}
.tweet .tweet__content .tweet__post__content .tweet__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  letter-spacing: -0.3px;
}
.tweet .tweet__content .tweet__post__content .tweet__user .tweet__username {
  font-weight: 600;
}
.tweet .tweet__content .tweet__post__content .tweet__user .tweet__userpseudo {
  color: #687684;
}
.tweet .tweet__content .tweet__post__content .tweet__user .tweet__arrow {
  margin-right: 25px;
}
.tweet .tweet__content .tweet__post__content .tweet__post {
  font-size: 16px;
  line-height: 20.5px;
  letter-spacing: -0.3px;
  margin-right: 29px;
  padding-bottom: 10px;
}
.tweet .tweet__content .tweet__post__content .tweet__post .tweet__hashtag {
  color: #4C9EEB;
}
.tweet .tweet__content .tweet__post__content .tweet__action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 69.75px;
}
.tweet .tweet__content .tweet__post__content .tweet__action .tweet__button {
  display: flex;
  flex-direction: row;
  color: #687684;
  font-size: 12px;
}
.tweet .tweet__content .tweet__post__content .tweet__action .tweet__button img {
  width: 15px;
  margin-right: 3.5px;
}
.tweet .tweet__thread {
  display: flex;
  flex-direction: row;
  margin-top: -8.53px;
  padding-bottom: 3.33px;
}
.tweet .tweet__thread .tweet__thread__profile {
  width: 37px;
  height: 37px;
  border-radius: 37px;
  margin-inline: 9px;
}
.tweet .tweet__thread .tweet__thread__text {
  font-size: 16px;
  color: #4C9EEB;
  letter-spacing: -0.3px;
  align-self: center;
}/*# sourceMappingURL=main.css.map */