// _home.scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $primary-bg;
  overflow-x: hidden;
  font-style: normal;
  color: $color-bold;
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-content {
  flex-grow: 1;
  position: relative;
}

.button__add_text {
  position: absolute;
  bottom: 56px;
  right: 11.58px;
}

.tweet {
  padding-top: 13px;
  padding-left: 20px;
  @include line;

  &__reacted {
    @include flex-row;
    padding-left: 42px;

    .tweet__react__text{
      font-size: $font-size-small;
      line-height: normal;
      letter-spacing: -0.15px;
      color: $color-darken;
      padding-left: 9px;
    }
  }

  .tweet__content {
    @include flex-row;
    padding-top: 2px;
    padding-bottom: 10.53px;

    .tweet__profile-container {
      position: relative;
  
      .vertical-bar {
        position: absolute;
        top: 58px;
        bottom: 0;
        left: 50%;
        width: 2px;
        background-color: $secondary-separator;
      }
    }

    .tweet__profile {
      width: 55px;
      height: 55px;
      border-radius: 55px;
      position: relative;
    }

    .tweet__post__content {
      padding-left: 9px;
      width: 100%;

      .tweet__user {
        @include flex-row;
        @include space-between;
        font-size: $font-size-medium;
        letter-spacing: -0.3px;

        .tweet__username {
          font-weight: 600;
        }

        .tweet__userpseudo {
          color: $color-darken;
        }

        .tweet__arrow {
          margin-right: 25px;
        }
      }

      .tweet__post {
        font-size: $font-size-medium;
        line-height: 20.5px;
        letter-spacing: -0.3px;
        margin-right: 29px;
        padding-bottom: 10px;

        .tweet__hashtag {
          color: $primary-color;
        }
      }

      .tweet__action {
        @include flex-row;
        @include space-between;
        margin-right: 69.75px;

        .tweet__button {
          @include flex-row;
          color: $color-darken;
          font-size: 12px;

          img {
            width: 15px;
            margin-right: 3.5px;
          }
        }
      }
    }
  }

  .tweet__thread {
    @include flex-row;
    margin-top: -8.53px;
    padding-bottom: 3.33px;

    .tweet__thread__profile{
      width: 37px;
      height: 37px;
      border-radius: 37px;
      margin-inline: 9px;
    }
    .tweet__thread__text {
      font-size: $font-size-medium;
      color: $primary-color;
      letter-spacing: -0.3px;
      align-self: center;
    }
  }
}
