// _variables.scss
@font-face {
    font-family: 'SF Pro Text';
    src: url('../../src/fonts/SFPRODISPLAYREGULAR.OTF') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$primary-bg: #FFFFFF;
$primary-color: #4C9EEB;
$primary-card: #BDC5CD;
$color-darken: #687684;
$secondary-separator: #CED5DC;
$color-bold: #141619;

$font-family: 'SF Pro Text', sans-serif;

$font-size-small: 14px;
$font-size-medium: 16px;
